name: C/C++ CI

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r .github/workflows/requirements.txt
    - name: download data
      working-directory: ./
      run: wget -nv -P /tmp https://github.com/Menooker/KunQuant/releases/download/alpha158/alpha158.npz && wget -P /tmp https://github.com/Menooker/KunQuant/releases/download/alpha158/input.npz
    - name: make
      env:
        MACOSX_DEPLOYMENT_TARGET: 15.0
      working-directory: ./
      run: KUN_BUILD_TESTS=1 pip install . -v
    - name: test arm
      run: bash ./tests/tests_arm.sh
    - name: Debug with tmate on failure
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
