pandas==2.2.2
numpy==1.26.4
ta-lib @ https://github.com/quantmew/talib-prebuilt/releases/download/v0.6.4/ta_lib-0.6.4-cp312-cp312-manylinux_2_28_x86_64.whl ; sys_platform == 'linux' and platform_machine == 'x86_64' and python_version == '3.12'